<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xobni" type="Xobni.SyncUtilities.Config, SyncUtilities"/>
  </configSections>

  <xobni
    >
     <features>
        <add name="CleanUsersMissingInXMP" enabled="false" clusterList="all" coloList="all" envList="all"/>
     </features>
      <overrides>
        <add config="useNewCqlEpTable" clusterList="all" coloList="all" envList="all" value="true"/>
        <add config="enableEpSearchWithOldWayIndex" clusterList="c25" coloList="bf1" envList="prod3" value="true"/>
	<add config="withZMQTransport" clusterList="all" coloList="ne1" envList="all" value="false"/>
        <add config="withZMQTransport" clusterList="all" coloList="ir2" envList="all" value="false"/>
        <add config="withZMQTransport" clusterList="all" coloList="sg3" envList="all" value="false"/>
        <add config="withZMQTransport" clusterList="all" coloList="tp2" envList="all" value="false"/>
        <add config="withZMQTransport" clusterList="all" coloList="bf1" envList="all" value="false"/>
        <add config="withZMQTransport" clusterList="all" coloList="gq1" envList="all" value="false"/>
        <add config="withZMQTransport" clusterList="all" coloList="bf2" envList="all" value="false"/>
        <add config="emailMessageProcessingDelayInMinutesForDailyActiveUsers" clusterList="all" coloList="gq1,bf1" envList="prod1,prod2" value="5"/>
        <add config="emailMessageProcessingDelayInMinutes" clusterList="all" coloList="gq1,bf1" envList="prod1,prod2" value="5"/>
        <add config="emailMessageProcessingDelayInMinutesForWeeklyActiveUsers" clusterList="all" coloList="gq1,bf1" envList="prod1,prod2" value="5"/>
        <add config="emailMessageProcessingDelayInMinutesForDailyActiveUsers" clusterList="all" coloList="all" envList="prod3" value="1"/>
        <add config="emailMessageProcessingDelayInMinutes" clusterList="all" coloList="all" envList="prod3" value="1"/>
        <add config="emailMessageProcessingDelayInMinutesForWeeklyActiveUsers" clusterList="all" coloList="all" envList="prod3" value="1"/>
        <add config="emailMessageProcessingDelayInMinutesForDailyActiveUsers" clusterList="all" coloList="all" envList="prod4" value="1"/>
        <add config="emailMessageProcessingDelayInMinutes" clusterList="all" coloList="all" envList="prod4" value="1"/>
        <add config="emailMessageProcessingDelayInMinutesForWeeklyActiveUsers" clusterList="all" coloList="all" envList="prod4" value="1"/>
        <add config="emailMessageProcessingDelayInMinutesForDailyActiveUsers" clusterList="c34" coloList="ne1" envList="prod4" value="0"/>
        <add config="emailMessageProcessingDelayInMinutes" clusterList="c34" coloList="ne1" envList="prod4" value="0"/>
        <add config="emailMessageProcessingDelayInMinutesForWeeklyActiveUsers" clusterList="c34" coloList="ne1" envList="prod4" value="0"/>
        <add config="emailMessageProcessingDelayInMinutesForDailyActiveUsers" clusterList="c1,c2" coloList="gq1" envList="stag1" value="1"/>
        <add config="emailMessageProcessingDelayInMinutes" clusterList="c1,c2" coloList="gq1" envList="stag1" value="1"/>
        <add config="emailMessageProcessingDelayInMinutesForWeeklyActiveUsers" clusterList="c1,c2" coloList="gq1" envList="stag1" value="1"/>
        <add config="emailMessageProcessingDelayInMinutesForDailyActiveUsers" clusterList="c33" coloList="gq1" envList="prod4" value="240"/>
        <add config="emailMessageProcessingDelayInMinutes" clusterList="c33" coloList="gq1" envList="prod4" value="240"/>
        <add config="emailMessageProcessingDelayInMinutesForWeeklyActiveUsers" clusterList="c33" coloList="gq1" envList="prod4" value="240"/>
        <add config="emailMessageProcessingDelayInMinutes" clusterList="c27" coloList="ne1" envList="prod3" value="240"/>
        <add config="emailMessageProcessingDelayInMinutesForWeeklyActiveUsers" clusterList="c27" coloList="ne1" envList="prod3" value="240"/>
        <add config="enableJobInsertBackupLoop" clusterList="all" coloList="all" envList="all" value="true" />
        <add config="enableOptimizedUploadWorkerScheduling" clusterList="all" coloList="all" envList="all" value="true"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c36" coloList="bf1" envList="all" value="30"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c33" coloList="bf2" envList="all" value="18"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c34" coloList="bf2" envList="all" value="14"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c35" coloList="bf2" envList="all" value="26"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c33,c34" coloList="gq1" envList="all" value="14"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c33,c34" coloList="ir2" envList="all" value="24"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c36,c37,c38,c39" coloList="ir2" envList="all" value="14"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c35" coloList="ir2" envList="all" value="24"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c33" coloList="ne1" envList="all" value="18"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c34" coloList="ne1" envList="all" value="26"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c35,c36" coloList="ne1" envList="all" value="14"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c35" coloList="sg3" envList="all" value="14"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c36,c37" coloList="sg3" envList="all" value="16"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c38" coloList="sg3" envList="all" value="14"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c25" coloList="tp2" envList="all" value="16"/>
        <add config="clusterAutoConfigNumWorkerHosts" clusterList="c33,c34" coloList="tp2" envList="all" value="14"/>
        <add config="enableYCAAuthentication" clusterList="all" coloList="gq1,bf1,bf2,ne1,ir2,tp2,sg3" envList="all" value="true"/>
        <add config="redisEnabled" clusterList="all" coloList="all" envList="all" value="false"/>
        <add config="cassandraMinConsistencyLevel" clusterList="all" coloList="all" envList="all" value="Quorum"/>
        <!--add config="emailMessageUploadPeakHoursTimeRange" clusterList="all" coloList="gq1,bf1,ne1" envList="all" value="13-19"/-->
     </overrides>
  </xobni>
</configuration>
