<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xobni" type="Xobni.SyncUtilities.Config, SyncUtilities"/>
  </configSections>

  <xobni
    >
      <overrides>
        <add config="useNewCqlEpTable" clusterList="all" coloList="all" envList="all" value="true"/>
     </overrides>
  </xobni>
</configuration>
