<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xobni" type="Xobni.SyncUtilities.Config, SyncUtilities"/>
  </configSections>
  <!--- YCA for unifiedGeoYcaAppId in staging
    unifiedGeoYcaAppId="yahoo.geotech.yca.stage.testclientsYCA"
  -->
  <xobni
    ycaValidationTimeout="500"
    heavyJobsPercentagePermitted="100"
    >
    <disabledAPIs>
        <add path="/v4/knownentity/:name/photo" />
        <add path="/v4/contacts/:id/photo" />
        <add path="/v4/endpoints/photourls" />
        <add path="/v4/endpoints/mosaic"/>
        <add path="/v4/contacts/:id/photourls"/>
        <add path="/v4/tags/:tag/:value/photo"/>
        <add path="/v4/endpoints/s"/>
        <add path="/v4/knownentity/by/ep"/>
        <add path="/v4/knownentity/by/tag"/>
    </disabledAPIs>
    <!-- Config overrides -->
    <overrides>
      <add config="clusterAutoConfigNumWorkerHosts" clusterList="c25,c26" coloList="tp2,sg3" envList="all" value="16"/>
      <add config="clusterAutoConfigNumWorkerHosts" clusterList="c25,c26" coloList="ir2" envList="all" value="12"/>
    </overrides>

    <jobConstraints>
      <!-- Example: Skip all FetchGmailBodies workers -->
      <!-- <add jobName="FetchGmailBodies" type="exclude" /> -->

      <!-- Example: Run FetchFacebookProfiles for first 5 buckets only -->
      <!-- <add jobName="FetchGmailBodies" type="include" dispatcherKeyStart="0" dispatcherKeyEnd="5" /> -->

      <!-- Example: Run FetchFacebookProfiles for two users.
             Note: if you specify users, then the dispatcherKeyStart and dispatcherKeyEnd is ignored.-->
      <!-- <add jobName="FetchGmailBodies" type="include" users="289,4566" /> -->
    </jobConstraints>

  </xobni>
</configuration>
